body {
    background-color: #61a6ab;
    font-family: "Vast Shadow", serif;
    text-align: center;
    padding: 40px;
}

h1 {
    color: #0f172a;
    font-size: 4rem;
}

.container {
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: end;
    gap: 10rem;
}

p {
    color: #0f172a;
    font-size: 2rem;
}

a {
    color: #7c2d12;
    font-size: 1.5rem;
}

.button button {
    background-color: #0f172a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 10px;
}

footer {
    margin-top: 7rem;
}

@media (max-width: 480px) {

    h1 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
    }
    img {
        width: 100%;
    }
    .container {
        gap: 2rem;
        height: 30vh;
    }
    footer {
        margin-top: 15rem;
    }
}

@media (max-width: 768px) {

    h1 {
        font-size: 3rem;
    }
    p {
        font-size: 1.5rem;
    }
    img {
        width: 100%;
    }
    .container {
        gap: 5rem;
        height: 40vh;
    }
    footer {
        margin-top: 15rem;
    }
}
